* {
	font-family: "copperplate";
}
h1{
	text-align: center;
	color: blue;
	margin: 8px;
}
h2{
	text-align: center;
	color: blue;
	margin: 6px;
}
h3{
	text-align: center;
	color: blue;
	margin: 5px;
}
p{
	text-align: center;
	color: blue;
	margin: 5px;
}
h4{
	text-align: center;
	color: blue;
	margin: 5px;
}
body{
	background-color: lightblue;
}
img {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	text-align: center;
	display: block;
}
.TopBar {
	color: #143642;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-family: "copperplate";
	font-size: 20px;
	background-color: #477890;
	transition: color 0.5s, background-color 0.5s;
}
.TopBar:hover {
	background-color: #4F629C;
	color: #A8F9FF;
}
.TopHolder {
	text-align: center;
	background-color: #477890;
	padding: 0px;
	margin: 0px;
}

.DropDown {
	border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.DropDownContent {
  display: none;
  position: absolute;
  background-color: #477890;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.DropDownContent a {
  color: #143642;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropDownContent a:hover {background-color: #4F629C;}

.dropdown:hover .DropDownContent {display: block;}

.dropdown:hover .DropDown {background-color: #4F629C;}